<a href="https://colab.research.google.com/github/shivanya-tech/python-practice/blob/main/ALL_String_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üî† Python String Methods Notebook

‚úÖ This notebook showcases **40+ string methods** in Python.  
Each method is:

- üí° Separated into individual cells using `# @title`
- üß™ Demonstrated with a code example and explanation
- üìò Useful for learning, revision, or interviews

**How to Use:**
- ‚ñ∂Ô∏è Run each cell to see output
- üìù Modify inputs to explore behavior
- üß† Use this notebook as a reference for common string operations

In [24]:
# @title capitalize()
S = "shivani"
print(S.capitalize())  # Shivani ‚Üí Capitalizes first letter and converts the rest of the letters in each word to lowercase.

text = "pYTHON is AwEsoMe"
print(text.capitalize())

Shivani
Python is awesome

In [26]:
# @title casefold()
print(S.casefold())  # shivani ‚Üí Aggressive lowercase for comparisons

text1 = "stra√üe"      # German word for "street"
text2 = "STRASSE"

print(text1.casefold() == text2.casefold())

shivani
True

In [6]:
# @title swapcase()
print(S.swapcase())  # SHIVANI ‚Üí Swaps lowercase to uppercase and vice versa
name="RAJ"
print(name.swapcase())

SHIVANI
raj

In [9]:
# @title title()
title_case = "heLlo worLd"
print(title_case.title())  # Hello World ‚Üí Capitalizes first letter of each word and converts the rest of the letters in each word to lowercase.

Hello World

In [ ]:
# @title upper()
print(S.upper())  # SHIVANI

In [10]:
# @title lower()
print(S.lower())  # shivani

shivani

In [29]:
# @title count()
print(S.count("i"))  # 2 ‚Üí Number of times 'i' appears

#string.count(substring, start=0, end=len(string))
text = "banana"
print(text.count("a", 2, 6))  # checks "nana"
print(text.count("a", 4, 6))

2
2
1

In [ ]:
# @title find()
#find() returns the first occurrence.

print(S.find("i"))  # 1 ‚Üí First occurrence of 'i'

In [11]:
# @title rfind()
#rfind() returns the last occurrence.
print(S.rfind("i"))  # 6 ‚Üí Last occurrence (right-side)
print(S.rfind("L")) #substring is not found, it returns -1.

6
-1

In [ ]:
# @title index()
print(S.index("s"))  # 0 ‚Üí Index of 's' in the string S .

text = "hello world"
print(text.index("world"))  # 6 ‚Üí 'world' starts at index 6

text = "hello hello"
print(text.index("lo", 5))  # 9 ‚Üí 'lo' found in second 'hello', starting from index 5

text = "hello world"
print(text.index("Python"))  # ValueError ‚Üí 'Python' not found in the string

In [ ]:
# @title startswith()

print(S.startswith("shi"))  # True

#Check with multiple options (tuple)
url = "https://amazon.com"
print(url.startswith(("http://", "https://")))

#With start and end range
text = "hello world"
print(text.startswith("world", 6))  # checks from index 6 onward

In [18]:
# @title endswith()

print(S.endswith("i"))  # True

#Check with multiple options (tuple)
file = "data.csv"
print(file.endswith((".csv", ".xlsx")))

#With a specific range
#string.endswith(suffix, start=0, end=len(string))
text = "hello world"
print(text.endswith("lo", 0, 5))  # checks "hello"

True
True
True

In [17]:
# @title format()
#syntax: "string with {} placeholders".format(values)

print("Hello, {}".format("Shivani"))  # Hello, Shivani

name = "Alice"
age = 25
print("Name: {}, Age: {}".format(name, age))

#index based
print("First: {0}, Second: {1}, Again First: {0}".format("A", "B"))

#name placeholders
print("Name: {name}, Age: {age}".format(name="Bob", age=30))

#formatting numbers
price = 12.3456
print("Price: {:.2f}".format(price))  # 2 decimal places

name = "Alice"
print(f"Hello, {name}!")

Hello, Shivani
Name: Alice, Age: 25
First: A, Second: B, Again First: A
Name: Bob, Age: 30
Price: 12.35
Hello, Alice!

In [ ]:
# @title format_map()
print("Name: {name}, Age: {age}".format_map({"name": "Shivani", "age": 22}))

In [13]:
# @title split()
#syntax :  string.split(separator, maxsplit)

text = "I love Python" #default (split by whitespace)
print(text.split())


s2 = "shiv,ani"
print(s2.split(","))  # ['shiv', 'ani']

text = "one two three four" #With maxsplit
print(text.split(" ", 2))

['I', 'love', 'Python']
['shiv', 'ani']
['one', 'two', 'three four']

In [15]:
# @title splitlines()
#syntax: string.splitlines(keepends=False)
text = "Hello\nWorld\r\nPython"
print(text.splitlines(keepends=True))

multi_line = "Line1\nLine2\nLine3"
print(multi_line.splitlines())  # ['Line1', 'Line2', 'Line3']

['Hello\n', 'World\r\n', 'Python']
['Line1', 'Line2', 'Line3']

In [21]:
# @title join()
# syntax: separator.join(iterable)

words = ["Python", "is", "awesome"]
result = " ".join(words)
print(result)


print("-".join(["shi", "va", "ni"]))  # shi-va-ni

#All elements in the iterable must be strings
print(" ".join(map(str, [1, 2, 3])))  # ‚úÖ Output: "1 2 3"
print(" ".join([1, 2, 3]))  # ‚ùå TypeError

Python is awesome
shi-va-ni
1 2 3

TypeError: sequence item 0: expected str instance, int found

In [22]:
# @title center()

text = "hello"
print(text.center(11))  # '   hello   '

   hello

In [23]:

# @title center(fill)
print(text.center(11, '-'))  # '---hello---'

---hello---

In [ ]:
# @title rjust()
print(text.rjust(8, '0'))  # '000hello'

In [ ]:
# @title ljust()
print(text.ljust(8, '*'))  # 'hello***'

In [ ]:
# @title zfill()
print("42".zfill(5))  # '00042'

In [ ]:

# @title isalnum()
print(S.isalnum())  # True

In [ ]:
# @title isalpha()
print(S.isalpha())  # True

In [ ]:
# @title isdecimal()
digits = "12345"
print(digits.isdecimal())  # True

In [ ]:
# @title isdigit()
print(digits.isdigit())  # True

In [ ]:
# @title isascii()
print(S.isascii())  # True

In [ ]:
# @title isupper()
print(S.isupper())  # False

In [ ]:

# @title isidentifier()
identifier = "my_var"
not_identifier = "123abc"
print(identifier.isidentifier())  # True
print(not_identifier.isidentifier())  # False

In [ ]:
# @title strip()
space_text = "   hello   "
print(space_text.strip())  # 'hello'

In [ ]:

# @title lstrip()
print(space_text.lstrip())  # 'hello   '

In [ ]:
# @title rstrip()
print(space_text.rstrip())  # '   hello'

In [ ]:
# @title partition()
email = "shivani@iit.com"
print(email.partition("@"))  # ('shivani', '@', 'iit.com')

In [ ]:

# @title rpartition()
print(email.rpartition("."))  # ('shivani@iit', '.', 'com')

In [ ]:
# @title translate()
special = "apple"
table = str.maketrans("ae", "12")
print(special.translate(table))  # '1ppl2'

In [ ]:
# @title encode()
print(S.encode())  # b'shivani' ‚Üí bytes

In [ ]:
# @title expandtabs()
S_with_tab = "shivani\trox"
print(S_with_tab.expandtabs(4))  # 'shivani    rox'

In [ ]:
# @title isprintable()
print("Hello!".isprintable())  # True
print("Hello\nWorld".isprintable())  # False

In [ ]:
# @title isspace()
only_spaces = " \t\n"
print(only_spaces.isspace())  # True

In [ ]:
# @title removeprefix()
filename = "file_123.txt"
print(filename.removeprefix("file_"))  # '123.txt'

In [ ]:

# @title removesuffix()
url = "index.html"
print(url.removesuffix(".html"))  # 'index'

In [ ]:
# @title replace()
quote = "I like apples. Apples are sweet."
print(quote.replace("apples", "oranges"))  # 'I like oranges. Apples are sweet.'
print(quote.lower().replace("apples", "oranges"))  # 'i like oranges. oranges are sweet.'

I like oranges. Apples are sweet.
i like oranges. oranges are sweet.