<a href="https://colab.research.google.com/github/shivanya-tech/python-practice/blob/main/All_List_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"""
# üî¢ Python List Methods Notebook

‚úÖ This notebook demonstrates 15+ list methods in Python.
Each method is:

- üí° Explained with a simple code example
- üß™ Run individually using `# @title` headers
- üß† Great for learning or interview prep

**How to Use:**
- ‚ñ∂Ô∏è Run each cell to see what it does
- üìù Modify the list to try variations
"""

In [ ]:
# @title append()
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# @title extend()
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)  # [1, 2, 3, 4, 5]

In [ ]:
# @title insert()
my_list = [1, 3, 4]
my_list.insert(1, 2)
print(my_list)  # [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# @title remove()
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # [1, 3, 2]

In [ ]:

# @title pop()
my_list = [10, 20, 30]
value = my_list.pop()
print(value)     # 30
print(my_list)   # [10, 20]

In [ ]:
# @title clear()
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # []

In [ ]:

# @title index()
my_list = [10, 20, 30]
print(my_list.index(20))  # 1

In [ ]:
# @title count()
my_list = [1, 2, 2, 3]
print(my_list.count(2))  # 2

In [ ]:
# @title sort()
my_list = [3, 1, 4, 2]
my_list.sort()
print(my_list)  # [1, 2, 3, 4]

In [ ]:
# @title reverse()
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # [3, 2, 1]

In [ ]:
# @title copy()
original = [1, 2, 3]
copy = original.copy()
print(copy)  # [1, 2, 3]

In [ ]:
# @title len() on list
my_list = [10, 20, 30]
print(len(my_list))  # 3

In [ ]:
# @title sum() on list
my_list = [1, 2, 3]
print(sum(my_list))  # 6

6

In [ ]:
# @title max() and min()
my_list = [5, 2, 9]
print(max(my_list))  # 9
print(min(my_list))  # 2

9
2