<a href="https://colab.research.google.com/github/shivanya-tech/python-practice/blob/main/All_dictionary_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


"""
# üìö Python Dictionary Methods Notebook

‚úÖ This notebook demonstrates 12 dictionary methods in Python.
Each method is:

- üß† Shown in a clean, separate cell
- üß™ Includes input and output for clarity
- üõ†Ô∏è Useful for coding, learning, and debugging

**How to Use:**
- ‚ñ∂Ô∏è Run each cell to see its effect
- üìù Try changing the dictionary values to explore
"""

In [1]:
# @title get()
info = {"name": "Shivani", "age": 22}
print(info.get("name"))  # Shivani
print(info.get("city"))  # None
print(info.get("gender", "Not found"))  # Not found

Shivani
None
Not found

In [3]:
# @title keys() : values()
print(info.keys())  # dict_keys(['name', 'age'])
print(list(info.keys()))  # ['name', 'age']
#To iterate over all keys:
for key in info.keys():
    print(key)


print(info.values())
print(list(info.values()))
#To iterate over all keys:
for value in info.values():
    print(value)

dict_keys(['name', 'age'])
['name', 'age']
name
age
dict_values(['Shivani', 22])
['Shivani', 22]
Shivani
22

In [6]:
# @title items()
print(info.items())  # dict_items([('name', 'Shivani'), ('age', 22)])
print(list(info.items()) )
#To iterate over both keys and values:
for key, value in info.items():
     print(f"{key}: {value}")

dict_items([('name', 'Shivani'), ('age', 22)])
[('name', 'Shivani'), ('age', 22)]
name: Shivani
age: 22

In [8]:
# @title update()
info = {"name": "Shivani", "age": 22}
info.update({ "city": "Delhi"})
print(info)  # {'name': 'Shivani', 'age': 22, 'city': 'Delhi'}
info.update(grade="A", phone="1234567890")
print(info)
#Merge two dictionaries.

{'name': 'Shivani', 'age': 22, 'city': 'Delhi'}
{'name': 'Shivani', 'age': 22, 'city': 'Delhi', 'grade': 'A', 'phone': '1234567890'}

In [10]:
# @title pop()
#dict.pop(key, default)

info = {"name": "Shivani", "age": 22}
age = info.pop("age")
print(age)       # 22
print(info)      # {'name': 'Shivani'}
value = info.pop("address")  # ‚ùó Raises KeyError

22
{'name': 'Shivani'}

KeyError: 'address'

In [11]:
# @title popitem()
info = {"name": "Shivani", "age": 22}
last_item = info.popitem()
print(last_item)  # ('age', 22) or ('name', 'Shivani')
print(info)

('age', 22)
{'name': 'Shivani'}

In [12]:

# @title clear()
info = {"name": "Shivani"}
info.clear()
print(info)  # {}

student={}
student.clear()
print(student)

{}
{}

In [ ]:
# @title setdefault()
profile = {"name": "Shivani"}
profile.setdefault("age", 22)
print(profile)  # {'name': 'Shivani', 'age': 22}

In [ ]:
# @title copy()
original = {"a": 1, "b": 2}
copy_dict = original.copy()
print(copy_dict)  # {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [ ]:
# @title len() on dict
print(len(original))  # 2

2

In [ ]:
# @title in keyword
print("a" in original)     # True
print("z" in original)     # False

True
False

In [ ]:
# @title dict.fromkeys()
keys = ["name", "age"]
defaults = dict.fromkeys(keys, "unknown")
print(defaults)  # {'name': 'unknown', 'age': 'unknown'}

{'name': 'unknown', 'age': 'unknown'}