<a href="https://colab.research.google.com/github/shivanya-tech/python-practice/blob/main/ALL_tuples_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"""
# üìò Python Tuple Methods Notebook

Tuples are immutable sequences in Python. While they support fewer methods compared to lists or sets,
they are widely used for fixed collections of items.

‚úÖ This notebook covers all valid tuple methods and related operations.

**Usage Tip:**
- ‚ñ∂Ô∏è Run each cell to explore tuple behavior
- ‚ùå Tuples do not support item assignment or modification
"""

In [ ]:
# @title count()
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))  # Output: 3

In [ ]:
# @title index()
t = (1, 2, 3, 4)
print(t.index(3))  # Output: 2

2

In [ ]:
# @title Tuple unpacking
t = (100, 200, 300)
a, b, c = t
print(a, b, c)  # Output: 100 200 300

In [ ]:
# @title len() on tuple
t = (10, 20, 30)
print(len(t))  # Output: 3

In [ ]:
# @title Membership check
t = ("apple", "banana")
print("apple" in t)   # True
print("cherry" in t)  # False

In [ ]:
# @title Tuple concatenation
t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2
print(t3)  # Output: (1, 2, 3, 4)

In [ ]:
# @title Tuple repetition
t = ("a", "b")
print(t * 3)  # Output: ('a', 'b', 'a', 'b', 'a', 'b')

In [ ]:
# @title min() and max() with tuple
nums = (5, 1, 9, 3)
print(min(nums))  # Output: 1
print(max(nums))  # Output: 9

In [ ]:
# @title Conversion: list to tuple , string to tuple

l = [1, 2, 3]
t = tuple(l)
print(t)


s = "hello"
t = tuple(s)
print(t)  # ('h', 'e', 'l', 'l', 'o')

(1, 2, 3)
('h', 'e', 'l', 'l', 'o')